
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

h1 {
    background-color: salmon;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 75%;
    caption-side:bottom;
}

caption {
    text-align: left;
}

tr, th, td {
    border: 2px solid rgb(44, 44, 44);
    vertical-align: top;
    padding: 5px;
}

th {
    background-color: wheat;
    font-size: 14px;
}

